.output {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10vh;
}

.individual_card {
  display: "block";
  height: "24vw";
}

.nav-active {
  color: grey;
  font-weight: bold;
}

.title {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 1em;
  color: white;
  flex-direction: column;
  display: flex;
}
.header {
  position: fixed;
  z-index: 100;
  width: 80%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: rgba(226, 0, 0, 0.2);
  margin: 0em 10em 2em 10em;
  padding: 1em;
  border-radius: 16px;
}

.header h1 {
  margin: 0;
}

.full-page {
  padding: 1em;
}
.header-links .link {
  display: inline-block;
  padding: 0 1.5rem 0 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: white;
  margin-right: 10px;
  text-decoration-color: #eb0573 !important;
  text-underline-offset: 1vh;
  text-decoration-thickness: 3px !important;
}
.searchBar {
  right: 0;
  position: absolute;
  margin-right: 4vw;
}
.css-i4bv87-MuiSvgIcon-root,
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root,
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  color: white !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #ffffff !important;
}
